#serenade-copy-overlay {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  padding: 3px;
  text-align: center;
  color: #e6ecf2;
  background: #1c1c16;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

.serenade-overlay {
  position: absolute;
  z-index: 999;
  padding: 0.1em 0.3em;
  text-align: center;
  color: #fff;
  background: #1c1c1688;
  border-radius: 3px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}
